// Colors
$color-link:red;
$color-link-visited:green;
$color-required:red;

$color-error: red;
$color-valid: green;

$color-field:#999;

$color-white: #fff;
$color-grey-bbb: #bbb;
$color-grey-ccc: #ccc;
$color-grey-ddd: #ddd;
$color-grey-555: #555;
$color-grey-888: #888;


$color-background: #333333;